.body
	.leftSide
		width: 0;
		height: 67px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 103px;
		-webkit-transform: rotate(-14deg);
		left: 16px;
	.leftSide2
		width: 0;
		height: 47px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 168px;
		-webkit-transform: rotate(-9deg);
		left: 28px;
	.leftSide3
		width: 0;
		height: 43px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 214px;
		-webkit-transform: rotate(-6deg);
		left: 34px;
	.leftSide4
		width: 0;
		height: 52px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 256px;
		-webkit-transform: rotate(-2deg);
		left: 37px;
	.rightSide
		width: 0px;
		height: 67px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 102px;
		-webkit-transform: rotate(16deg);
		left: 182px;
	.rightSide2
		width: 0;
		height: 47px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 166px;
		-webkit-transform: rotate(10deg);
		left: 169px;
	.rightSide3
		width: 0;
		height: 43px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 212px;
		-webkit-transform: rotate(7deg);
		left: 162px;
	.rightSide4
		width: 0;
		height: 53px;
		border-right: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 254px;
		-webkit-transform: rotate(3deg);
		left: 158px;
	.cupBtmLeft
		width: 74px;
		height: 50px;
		border-bottom: 3px solid #000;
		border-radius: 54px/12px;
		position: absolute;
		top: 265px;
		-webkit-transform: rotate(10deg);
		left: 40px;
	.cupBtmRight
		width: 74px;
		height: 50px;
		border-bottom: 3px solid #000;
		border-radius: 54px/12px;
		position: absolute;
		top: 266px;
		-webkit-transform: rotate(-9deg);
		left: 82px;