.face
	
	.eyeLeft
		width: 60px;
		height: 27px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		border: 1px solid #000;
		top: 80px;
		left: 30px;
	.retinaLeft
		width: 20px;
		height: 10px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		background: #000;
		top: 4px;
		left: 25px;
		-webkit-transform: rotate(-12deg);
	.pupilLeft
		width: 10px;
		height: 5px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		background: #fff;
		left: 5px;
	.eyeRight
		width: 57px;
		height: 27px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		border: 1px solid #000;
		top: 80px;
		left: 111px;
	.retinaRight
		width: 20px;
		height: 10px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		background: #000;
		top: 4px;
		left: 16px;
		-webkit-transform: rotate(12deg);
	.pupilRight
		width: 10px;
		height: 5px;
		border-radius: 0 0 100px 100px;
		position: absolute;
		background: #fff;
		left: 3px;
	.smile
		width: 95px;
		height: 50px;
		border-top: 3px solid #000;
		border-radius: 120px/26px;
		position: absolute;
		top: 156px;
		-webkit-transform: rotate(-3deg);
		left: 53px;
	.smileCapLeft
		width: 0;
		height: 7px;
		border-radius: 1px;
		position: absolute;
		top: 163px;
		left: 50px;
		border-left: 1px solid #000;
		z-index: 6;
		-webkit-transform: rotate(26deg);
	.smileCapRight
		width: 12px;
		height: 7px;
		border-radius: 6px;
		position: absolute;
		top: 159px;
		left: 135px;
		border-right: 2px solid #000;
		z-index: 6;
		-webkit-transform: rotate(7deg);
	.chin
		width: 42px;
		height: 50px;
		border-bottom: 2px solid #000;
		border-radius: 35px/12px;
		position: absolute;
		top: 130px;
		-webkit-transform: rotate(-4deg);
		left: 82px;