.hand
	.fingerBorder
		width: 27px;
		height: 9px;
		border-radius: 30px 15px 20px 0;
		position: absolute;
		top: 188px;
		left: 1px;
		border-top: 2px solid #000;
		z-index: 2;
		-webkit-transform: rotate(8deg);
	.fingerBorder2
		width: 13px;
		height: 8px;
		border-radius: 0px 0px 4px 4px;
		position: absolute;
		top: 188px;
		left: 1px;
		z-index: 2;
		-webkit-transform: rotate(8deg);
		border-bottom: 2px solid #000;
	.fingerBorder3
		width: 17px;
		height: 10px;
		border-radius: 8px 0px 0px 0px;
		position: absolute;
		top: 201px;
		left: -2px;
		border-top: 2px solid #000;
		z-index: 2;
		-webkit-transform: rotate(-38deg);
	.fingerBorder4
		width: 16px;
		height: 8px;
		border-radius: 0 0 4px 4px;
		position: absolute;
		top: 202px;
		left: -2px;
		z-index: 2;
		-webkit-transform: rotate(-29deg);
		border-bottom: 2px solid #000;
	.fingerBorder5
		width: 17px;
		height: 10px;
		border-radius: 8px 0 0 0;
		position: absolute;
		top: 209px;
		left: 7px;
		border-top: 2px solid #000;
		z-index: 2;
		-webkit-transform: rotate(-61deg);
	.fingerBorder6
		width: 16px;
		height: 8px;
		border-radius: 0 0 4px 4px;
		position: absolute;
		top: 210px;
		left: 7px;
		z-index: 2;
		-webkit-transform: rotate(-55deg);
		border-bottom: 2px solid #000;
	.fingerBorder7
		width: 12px;
		height: 10px;
		border-radius: 8px 0 0 0;
		position: absolute;
		top: 209px;
		left: 20px;
		border-top: 2px solid #000;
		z-index: 2;
		-webkit-transform: rotate(-88deg);
	.fingerBorder8
		width: 16px;
		height: 8px;
		border-radius: 0 0 4px 6px;
		position: absolute;
		top: 208px;
		left: 19px;
		z-index: 2;
		-webkit-transform: rotate(-67deg);
		border-bottom: 2px solid #000;

	.fingerFill
		background: #f9d83f;
		width: 18px;
		height: 19px;
		position: absolute;
		top: 194px;
		left: 12px;
		border-radius: 10px 0 0 0;
		-webkit-transform: rotate(-9deg);
	.fingerFill2
		background: #f9d83f;
		width: 28px;
		height: 7px;
		position: absolute;
		top: 189px;
		left: 0px;
		border-radius: 10px 0 0 0;
		-webkit-transform: rotate(2deg);
	.fingerFill3
		background: #f9d83f;
		width: 27px;
		height: 7px;
		position: absolute;
		top: 200px;
		left: -4px;
		border-radius: 10px 0 0 0;
		-webkit-transform: rotate(-37deg);
	.fingerFill4
		background: #f9d83f;
		width: 25px;
		height: 7px;
		position: absolute;
		top: 209px;
		left: 6px;
		border-radius: 10px 0 0 0;
		-webkit-transform: rotate(-37deg);
	.fingerFill5
		background: #f9d83f;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 209px;
		left: 20px;
		border-radius: 10px 0 0 0;
		-webkit-transform: rotate(0deg);
		border-radius: 10px;
	&.right
		-webkit-transform: rotateY(180deg);
		position: absolute;
		top: 3px;
		left: 199px;