.lid
	.lidCapTopRight
		width: 11px;
		height: 0;
		border-radius: 1px;
		position: absolute;
		top: 99px;
		left: 191px;
		border-right: 3px solid #000;
		border-bottom: 2px solid #000;
		z-index: 6;
		-webkit-transform: rotate(-90deg);
	.lidCapBtmRight
		width: 10px;
		height: 0px;
		border-radius: 1px;
		position: absolute;
		top: 109px;
		left: 187px;
		border-right: 3px solid #000;
		border-bottom: 2px solid #000;
		z-index: 6;
		-webkit-transform: rotate(-32deg);
	.lidCapTopLeft
		width: 11px;
		height: 0;
		border-radius: 1px;
		position: absolute;
		top: 99px;
		left: -3px;
		border-right: 3px solid #000;
		border-bottom: 2px solid #000;
		z-index: 6;
		-webkit-transform: rotate(-84deg);
	.lidCapBtmLeft
		width: 7px;
		height: 0;
		border-radius: 1px;
		position: absolute;
		top: 109px;
		left: 1px;
		border-right: 3px solid #000;
		border-bottom: 2px solid #000;
		z-index: 6;
		-webkit-transform: rotate(27deg);
	.lidTopLeft
		width: 108px;
		height: 50px;
		border-top: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 73px;
		-webkit-transform: rotate(-15deg);
		left: 5px;
	.lidTopRight
		width: 108px;
		height: 50px;
		border-top: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 72px;
		-webkit-transform: rotate(13deg);
		left: 89px;
	.lidBtmLeft
		width: 108px;
		height: 50px;
		border-top: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 86px;
		-webkit-transform: rotate(-15deg);
		left: 5px;
		z-index: 10;
	.lidBtmRight
		width: 108px;
		height: 50px;
		border-top: 3px solid #000;
		border-radius: 100px/22px;
		position: absolute;
		top: 85px;
		-webkit-transform: rotate(13deg);
		left: 89px;
		z-index: 10;
	.lidColor
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 4px;
		height: 11px;
		top: 94px;
		-webkit-transform: rotate(0deg);
		z-index: 10;
		border-radius: 10px;
		left: 5px;
	.lidColor2
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 47px;
		height: 12px;
		top: 84px;
		-webkit-transform: rotate(-22deg);
		z-index: 10;
		border-radius: 10px;
		left: 7px;
	.lidColor3
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 48px;
		height: 10px;
		top: 73px;
		-webkit-transform: rotate(-10deg);
		z-index: 10;
		border-radius: 10px;
		left: 45px;
	.lidColor4
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 36px;
		height: 10px;
		top: 69px;
		-webkit-transform: rotate(1deg);
		z-index: 10;
		border-radius: 10px;
		left: 82px;
	.lidColor5
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 36px;
		height: 10px;
		top: 72px;
		-webkit-transform: rotate(10deg);
		z-index: 10;
		border-radius: 10px;
		left: 114px;
	.lidColor6
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 51px;
		height: 9px;
		top: 83px;
		-webkit-transform: rotate(19deg);
		z-index: 10;
		border-radius: 10px;
		left: 146px;
	.lidColor7
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 4px;
		height: 11px;
		top: 91px;
		-webkit-transform: rotate(-5deg);
		z-index: 10;
		border-radius: 10px;
		left: 193px;
	.lidFill
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		top: 93px;
		-webkit-transform: rotate(0);
		z-index: 10;
		border-radius: 10px;
		left: 5px;
	.lidFill2
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		top: 83px;
		-webkit-transform: rotate(0);
		z-index: 10;
		border-radius: 10px;
		left: 28px;
	.lidFill3
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 13px;
		height: 10px;
		top: 79px;
		-webkit-transform: rotate(-24deg);
		z-index: 10;
		border-radius: 10px;
		left: 38px;
	.lidFill4
		background: #d9e5f3;
		position: absolute;
		display: block;
		width: 50px;
		height: 5px;
		top: 76px;
		-webkit-transform: rotate(1deg);
		z-index: 10;
		border-radius: 10px;
		left: 82px;